@model IEnumerable<DTO.Delivery_Time>

@{
    ViewData["Title"] = "Order";
}

<h2>Choose your delivery time</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Time_Zone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time_Zone)
            </td>
           
            <td>
                @Html.ActionLink("Validate", "Validate", new { /* id=item.PrimaryKey */ }) 
            </td>
        </tr>
}
    </tbody>
</table>
